<h2>Les cartes</h2>

<div class="card border border-danger" style="width: 18rem;">
  <img class="card-img-top" src="https://cdn.discordapp.com/attachments/671802972329607198/758312826321895445/image0.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Meneur</h5>
    <p class="card-text">Le meneur définit la composition de la partie et tire les cartes événements. Il est le maître des joueurs qui sont à sa merci.</p>
    <a href="#" class="btn btn-danger">+ d'informations</a>
  </div>
</div>