<h2>Crédits</h2>

<div class="text-center">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTaYzz9_mUA3Beqbi3sVfnpm1R_3qproE-J5g&usqp=CAU" class="rounded float-left" alt="logo_SirZokxyron">
  <p class="h4">SirZokxyron</p>
  <p>SirZokxyron, Roi et créateur, tyran et ange en personne. Il fut l'investigateur de cette aventure qui nous a tous mener à la gloire et à la victoire.</p>
</div>
<div class="text-center">
  <img src="https://www.icone-png.com/ico/8/7804.ico" class="rounded float-right" alt="logo_acetylsalicylique">
  <p class="h4">Acétylsalicylique</p>
  <p>Gnome, sombre personne n'aimant guère le monde, menteur et bien d'autres compliments à son égard. Toute description de carte est due à sa plume magique.</p>
</div>
<div class="text-center">
  <img src="https://findicons.com/files/icons/390/metal_gear_solid_4/256/snake_9.png" class="rounded float-left" alt="logo_chevalier">
  <p class="h4">Chevalier</p>
  <p>Fier personne, il est né à la mauvaise époque. Il aurait sans nul doute voulut naître durant l'ère des Chevaliers, d'où son surnom. Ses dessins des cartes vous transporteront dans le monde merveilleux du loup-garou revisité.</p>
</div>