<h2>Description </h2>
<div id="list-example" class="list-group">
  <a class="list-group-item list-group-item-action" href="#list-item-1">Création</a>
  <a class="list-group-item list-group-item-action" href="#list-item-2">Avancement</a>
  <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
  <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
</div>
<div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
  <h4 id="list-item-1">Création</h4>
  <p>La création de ce jeu fut réalisée et pensée par SirZokxyron ainsi que quelques amis à lui. Ensemble, ils souhaitaient pouvoir se créer un petit paquet de cartes conséquent avec des compositions plus farfelues les unes que les autres. Possédant des amis aux compétences inédites, il put demander à Chevalier de créer les illustrations des cartes. Par la suite, d'autres personnes purent coloriser les cartes et les rendre un peu plus vivantes. Au final, tout démarre simplement d'une simple idée, d'une simple envie de s'amuser avec autrui. </p>
  <h4 id="list-item-2">Avancement</h4>
  <p>Cela prit quelques mois à la petite bande pour réaliser les idées, les cartes et créer des compositions. Ce projet pris de l'envergure quand d'autres joueurs se sentirent attiré par celui-ci. Ainsi, moi-même, je rejoignis l'aventure en cours de route. J'émis une hypothèse qui fleurit dans l'esprit de certains. La chance a voulu que notre bande d'amis soit composée de dessinateurs, de codeurs, d'ingénieurs et d'animateur 3D. Des métiers complémentaires pour créer une application. Un jeu, finalement ! Et si, on publiait le jeu et on le vendait ? L'idée étant posée sur la table, les compères se réunirent pour une réunion. Quel choix feront-ils ? </p>
  <h4 id="list-item-3">Item 3</h4>
  <p>...</p>
  <h4 id="list-item-4">Item 4</h4>
  <p>...</p>
</div>